/**
 *
 * Custom CSS
 *
 */

 /* ____________________________________________________ */

/* General */
#primary {
    width: 100%;
}
.w-auto {
    width: auto !important;
}

/* Text & Fonts */
.text-blue {
    color: #173e5e !important;
}
a.text-blue:hover {
    color: #404040 !important;
}
.text-light-blue {
    color: #3a60c3 !important;
}
.text-gray {
    color: #404040 !important;
}
.text-red {
    color: #d2222a !important;
}
.font-gotham-book {
    font-family: 'Gotham-Book', sans-serif;
    font-weight: normal;
}
.font-gotham-light {
    font-family: 'Gotham-Light', sans-serif;
    font-weight: 300;
}
.font-gotham-medium {
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 700;
}
.font-gotham-black {
    font-family: 'Gotham-Black', sans-serif;
    font-weight: 700;
}
.font-gotham-thin {
    font-family: 'Gotham-Thin', sans-serif;
    font-weight: 100;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.75rem
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}
.lead {
    font-size: 125%;
    font-weight: inherit;
}
b, strong {
    font-family:'Gotham-Black', sans-serif;
}
.hero-title {
    font-size: 2rem;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 0;
}
i {
    font-style: normal;
}

/* Misc */
.btn-blue,
.nav-previous a,
.nav-next a {
    color: #fff !important;
    font-family:'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #173e5e;
    width: auto;
    background-color: #173e5e;
    transition: all 300ms ease-in-out;
}
.btn-blue:hover,
.btn-blue:focus,
.nav-previous a:hover,
.nav-next a:hover,
.nav-previous a:focus,
.nav-next a:focus {
    color: #173e5e !important;
    text-decoration: none;
    background-color: #fff;
}
.btn-white {
    color: #173e5e;
    font-family:'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #fff;
    width: auto;
    background-color: #fff;
    transition: all 300ms ease-in-out;
}
.btn-white:hover,
.btn-white:focus {
    color: #fff;
    text-decoration: none;
    background-color: #173e5e;
}
.btn-gray {
    color: #fff;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #404040;
    width: auto;
    background-color: #404040;
    transition: all 300ms ease-in-out;
}
.btn-gray:hover,
.btn-gray:focus {
    color: #404040;
    text-decoration: none;
    background-color: #fff;
}
.btn-red {
    color: #fff;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #d2222a;
    width: auto;
    background-color: #d2222a;
    transition: all 300ms ease-in-out;
}
.btn-red:hover,
.btn-red:focus {
    color: #d2222a;
    text-decoration: none;
    background-color: #fff;
}
.btn-clear--white {
    color: #fff;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #fff;
    width: auto;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}
.btn-clear--white:hover,
.btn-clear--white:focus {
    color: #fff;
    text-decoration: none;
    background-color: #173e5e;
}
.btn-clear--blue {
    color: #173e5e;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    /* padding: 15px 25px; Rajashekar*/
    padding: 10px 10px;
    border: 2px solid #173e5e;
    width: auto;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}
.btn-clear--blue:hover,
.btn-clear--blue:focus {
    color: #fff;
    text-decoration: none;
    background-color: #173e5e;
}
.btn-clear--gray {
    color: #404040;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #404040;
    width: auto;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}
.btn-clear--gray:hover,
.btn-clear--gray:focus {
    color: #fff;
    text-decoration: none;
    background-color: #404040;
}
.btn-clear--red {
    color: #d2222a;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #d2222a;
    width: auto;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}
.btn-clear--red:hover,
.btn-clear--red:focus {
    color: #fff;
    text-decoration: none;
    background-color: #d2222a;
}
smaller,
.smaller {
    font-size: 60%;
    font-weight: 400;
}
.bg-blue {
    background-color: #173e5e !important;
}
.rounded-bottom {
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}
.rounded-top {
    border-top-right-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
}

/* Header */


/* Nav */
.main-navigation {
    height: 70px;
}
.mega-menu-item.widget_media_image {
    padding-bottom: 0;
}

/* Body */
ul.eventCalendar {
    padding: 0;
    list-style: none;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}
ul.eventCalendar li {
    overflow: hidden;
    margin: 15px 0 15px 0;
    border-bottom: 1px solid #ddd;
}
ul.eventCalendar li div {
    float: left;
    width: 20%;
    display: block;
}

/* Pages */


    /* Home */
    .hero-slider-wrapper {
        padding-top: 5%;
        padding-bottom: 15%;
        height: 40vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .specialty {
        padding-top: 5%;
        padding-bottom: 5%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
        .specialty-content {
            background-color: rgba(0,0,0,.4);
        }
        .specialty-btns {
            margin-left: .5rem;
            margin-right: .5rem;
        }
    .videos {
        padding-top: 5%;
        padding-bottom: 5%;
    }
        .videos-play {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -75%);
        }
        .videos-play-button {
            font-size: 1.5rem;
            transition: all 300ms ease-in-out;
        }
        .videos-play-button:hover {
            color: rgba(255,255,255,.8) !important;
        }
    .reviews {
        padding-top: 5%;
        padding-bottom: 5%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
        .reviews-box {
            position: relative;
            padding: 25px;
            background-color: rgba(255,255,255,.8);
        }
        .review-date {
            color: #999;
            top: 25px;
            right: 25px;
            position: absolute;
        }
    .categories {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #fff;
    }
        .categories-link:hover .categories-overlay {
            opacity: 1;
        }
        .categories-link:hover .categories-box-img {
            opacity: .7;
        }
        .categories-box-img {
            opacity: 1;
            transition: all 300ms ease-in-out;
        }
        .categories-overlay {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            z-index: 1;
            transition: all 300ms ease-in-out;
        }
    .cta {
        padding-top: 5%;
        padding-bottom: 5%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
        .cta-inner {
            background-color: rgba(255,255,255,.8);
        }
    .general {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #fff;
    }
        .general-img {
            flex-shrink: .5;
        }
    .split {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    /* Baseplates */
    .baseplates .product-search-attribute-filter-item {
        margin-top: -22px;
    }
    .baseplates .product-search-filter-terms {
        margin-top: 25px;
    }
    .baseplates .selectize-input.focus {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .baseplates .selectize-input > input::placeholder,
    .baseplates .product-search-field::placeholder {
        color: #173e5e;
        font-weight: light;
        font-size: 14px !important;
        font-family: 'Lato', sans-serif !important;
        text-transform: uppercase;
        text-shadow: none;
    }
    .selectize-input > input {
        width: 100% !important;
    }
    .selectize-input {
        padding: 10px 8px !important;
    }
    .baseplates .selectize-input,
    .baseplates .product-search-field {
        color: #173e5e;
        border: 2px solid #173e5e;
        text-shadow: none;
    }
    .baseplates .selectize-input::after {
        content: "\f078" !important;
        color: #173e5e !important;
        opacity: 1 !important;
        width: 25px !important;
        height: 25px !important;
        padding: 11.5px 0 !important;
    }
    .baseplates .full input {
        display: none !important;
    }
    #baseplates .price {
        margin-top: -22px !important;
    }
    #baseplates .learn-btn {
        margin-bottom: 25px !important;
    }
    #baseplates .learn-btn a {
        display: inline-block;
    }
    #baseplates ul.products li.product .price {
        margin-top: 10px !important;
        margin-bottom: 10px;
    }
    #baseplates .product {
        min-height: 430px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 3.8%;
    }
    #baseplatesTop .search-results .button {
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block;
    }


/* Blog */
.jumbotron {
    border-radius: 0;
    background-color: #173e5e !important;
}
.jumbotron-heading {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Gotham-Black', sans-serif;
    font-weight: 700;
}

/* Sidebar */

/* Woocommerce */
.shop_table.shop_table_responsive.woocommerce-cart-form__contents button[type="submit"],
.form-row.place-order button[type="submit"],
.single-product .summary.entry-summary button[type="submit"] {
    border-radius: 0 !important;
}


/* Forms */
#calc_shipping_state_field > span {
    display: inline-block;
    width: 100%;
}

/* Slider */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
    padding: 15px;
    bottom: 0 !important;
    height: auto;
    background-color: transparent;
}
.slick-dots li button {
    background-color: #fff;
    border-radius: 100%;
}
.slick-dots li.slick-active button::before {
    opacity: 1;
    color: rgb(100,100,100);
}
.slick-dots li button::before {
    content: '•' !important;
    font-size: 20px !important;
    top: 1px;
    color: #fff !important;
    opacity: 1;
}

/* Footer */
.footer-affilitions {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fff;
}
.footer-numbers h3 {
    color: inherit;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-numbers h3 span {
    color: #aeaeae;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 500;
}
.footer-numbers::after {
    content: "";
    height: 2px;
    background-color: #aeaeae;
    background-size: cover;
    background-position: bottom;
    bottom: -15px;
    left: 50%;
    width: 80%;
    position: absolute;
    transform: translateX(-50%);
}
.footer-numbers {
    margin-bottom: 50px;
    position: relative;
    justify-content: space-evenly;
}

/* Plugin Override */
.main-back-to-top {
    color: #fff !important;
    background-color: #173e5e !important;
    border: 2px solid #173e5e;
    transition: all 300ms ease-in-out;
}

.main-back-to-top:hover {
    color: #173e5e !important;
    background-color: #fff !important;
    border: 2px solid #173e5e;
    text-decoration: none;
}

/* Edited by Ayushi */
.tax-product_cat .btn-clear--blue {
    color: #173e5e;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: normal;
    padding: 7px 44px;
    border: 2px solid #173e5e;
    width: auto;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}
.tax-product_cat .local-contact .col-sm-4 .mb-0 {
    margin-bottom: 0 !important;
    color: #868585;
    font-size: 12px;
    margin-left: 7px;
}
.tax-product_cat .a-inner p {
    color: #868585;
}
.tax-product_cat .a.py-0 h3, .local-contact h3 {
    font-size: 22px !important;
}
.tax-product_cat .a-inner-text {
 font-weight: bold;
}
/* End By Ayushi on 5/3/2020 */

#top-menu li.dealer-link-top a {
    background: #173e5e;
    color: #fff;
    font-family: 'Gotham-Black',sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.custom-logo {
    height: 70px !important;
}
.store-locator__infobox .infobox__marker {
    background-color: #173e5e !important;
    border: 3px solid #173e5e !important;
    color: #fff !important;
}

ul.products li.product .woocommerce-loop-product__title {
    color: #173e5e;
}

/* Media */
@media (min-width: 576px) {
    .w-sm-auto {
        width: auto !important;
    }
    .specialty-heading {
        background-color: transparent;
    }
}
@media (min-width: 768px) {
    .w-md-auto {
        width: auto !important;
    }
    .w-md-25 {
        width: 25% !important;
    }
    .w-md-33 {
        width: 33% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-66 {
        width: 66% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .hero-slider-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
    .specialty-content {
        width: 60% !important;
    }
    .specialty-btns {
        margin-left: 0;
        margin-right: .5rem;
    }
    .videos-box {
        width: 49% !important;
    }
    .reviews,
    .cta {
        padding-top: 30%;
    }
    .footer-numbers {
        margin-left: 8% !important;
        margin-right: 8% !important;
    }
}
@media (min-width: 992px) {
    .w-lg-auto {
        width: auto !important;
    }
    .w-lg-25 {
        width: 25% !important;
    }
    .w-lg-33 {
        width: 33% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
    .hero-title {
        font-size: 5rem !important;
    }
    .hero-subtitle {
        font-size: 2rem !important;
    }
}

/*Recreational tow bar*/
.contentBlock-wrapper { padding: 0 100px; }
.contentBlock-wrapper h2, .contentBlock-wrapper h3, .contentBlock-wrapper h4, .contentBlock-wrapper button { font-family:'Gotham-Black', sans-serif; }
.titleBar { padding: 40px 20px; }
.titleBar h1 { font-size: 78px; font-weight: 800; letter-spacing: -2px; }
.titleBar h3 { font-size: 39px; font-weight: 700; }
.threeCta { display: flex; justify-content: center; margin: 0 0 40px; }
.ctaBlock { width: calc(100% / 3); padding: 0 40px 0 20px; text-align: center; }
.ctaBlock .title { font-size: 45px; font-weight: 800; letter-spacing: -2px; text-align: left; }
.ctaBlock .photo {border: 1px #707070 solid; margin: 0 0 30px;}
.ctaBlock .title sup { font-size: 20px; position: relative; top: -44px; left: -17px; letter-spacing: 0; }
.ctaBlock .subtitle { color: #676869; font-size: 23px; font-weight: 800; display: block; line-height: normal; margin: 20px 0 30px; text-align: left; }
.ctaBlock ul.minHeight { min-height: 484px; }
.ctaBlock ul { margin: 0 0 40px; }
.ctaBlock p { text-align: left; color: #676869; font-size: 20px; padding: 10px 0 25px; margin: 0; }
.ctaBlock ul li { color: #676869; font-size: 16px; margin: 0 0 25px; padding-left: 30px; position: relative; text-align: left; }
.ctaBlock ul li:before { content: ""; width: 8px; height: 8px; border-radius: 50%; background-color: #676869; position: absolute; top: 6px; left: 5px; }
.defaultBtn { background-color: #002e5a; display: inline-block; padding: 7px 20px; color: #fff; font-weight: 900; font-size: 30px; font-family:'Gotham-Black', sans-serif; min-width: 160px; text-align: center; }
.contentBlock { text-align: center; padding: 40px 0 70px; }
.contentBlock h2 { font-size: 50px; font-weight: 800; letter-spacing: -2px; margin: 20px 0 30px; }
.contentBlock p { text-align: left; color: #676869; font-size: 18px; padding: 10px 0 25px; margin: 0; }
.vehicleWeight { background: #002e5a; padding: 40px 40px 25px; border-radius: 20px; text-align: center;}
.vehicleWeight h2 { font-size: 42px; font-weight: 800; letter-spacing: -2px; margin: 0 0 30px; color: #fff; }
.vehicleWeight .form { max-width: 766px; width: 100%; margin: 0 auto; display: flex; }

.vehicleWeight .textField { height: 77px; border-radius: 0; border: none; padding: 0 20px; width: 100%; font-size: 30px; font-weight: 700; }
.vehicleWeight .goBtn { min-width: 216px; border: none; background: #fff; color: #002e5a; font-weight: 800; font-size: 50px; margin-left: 115px; cursor: pointer;}
.vehicleWeightText { color: #060607; font-size: 29px; padding: 25px 0 0; max-width: 910px; margin: 0 auto; }
.localDealar { display: flex; align-items: center; margin: 0 0 60px;}
.dealarImage { width: 55%; border: 1px #707070 solid;}
.localDealarContent { width: 44%; text-align: center; padding: 30px;}
.localDealarContent h2 { font-size: 45px; font-weight: 800; letter-spacing: -2px; margin: 0 0 20px; }
.localDealarContent p { color: #676869; font-size: 18px; line-height: normal; }
.localDealarContent .outlineBtn { border: 2px solid #133056; font-size: 30px; color: #133056; padding: 10px 50px; display: inline-block; font-weight: 600; }
.localDealarContent .outlineBtn:hover { background-color: #133056; color: #fff; }
.btn-center-align {display: inline-block; width: 100%; text-align: center;}
.page-template-recreational-tow-bars .threeCta .ctaBlock p {padding-bottom: 0px;}
.page-template-recreational-tow-bars .threeCta .ctaBlock .subtitle {margin-top: 0px;}
/*Recreational tow bar End*/

/*Service Inner Pages*/
.single-ctaBlock { display: flex; flex-flow: wrap; margin: 50px 0;}
.single-ctaBlock h3 { font-size: 39px; font-weight: 800; letter-spacing: -2px; text-align: left; }
.single-ctaBlock h4 { margin: 0 0 30px; }
.ctaBlock-image-block { width: 60%; }
.ctaBlock-content-block { padding: 0 0 0 5%; width: 40%; }
.ctaBlock-content-block ul:not(:last-child) {margin-bottom: 30px;}
.ctaBlock-content-block ul li { color: #676869; font-size: 16px; margin: 0 0 25px; padding-left: 30px; position: relative; text-align: left; }
.ctaBlock-content-block ul li:before { content: ""; width: 8px; height: 8px; border-radius: 50%; background-color: #676869; position: absolute; top: 6px; left: 5px; }
/*Service Inner Pages END*/

@media(max-width: 1365px) {
    .contentBlock-wrapper { padding: 0 40px; }
    .titleBar h1 { font-size: 48px; }
    .titleBar h3 { font-size: 29px; }
    .ctaBlock .title { font-size: 58px; margin: 30px 0 0; }
    .ctaBlock .title sup { font-size: 20px; top: -29px; left: -7px; }
    .ctaBlock .subtitle {font-size: 30px;}
    .ctaBlock ul li { font-size: 18px;  margin: 0 0 15px;}
    .contentBlock h2 { font-size: 40px; margin: 20px 0 20px; }
    .contentBlock p { padding: 10px 0 15px; font-size: 18px;}
    .ctaBlock p { font-size: 18px;}
    .vehicleWeight h2 {font-size: 36px;}
    .vehicleWeight {padding: 40px 40px 50px;}
    .vehicleWeight .goBtn {margin-left: 25px;}
    .vehicleWeightText { font-size: 26px; padding: 50px 0;}
    .localDealarContent h2 {font-size: 40px;}
    .localDealarContent p { font-size: 18px; margin: 0 0 30px; }
    .ctaBlock ul.minHeight { min-height: auto; }

    .ctaBlock-image-block, .ctaBlock-content-block { width: 50%; }
}
@media(max-width: 1200px) {
    .single-ctaBlock {align-items: center;}
}
@media(max-width: 1023px) {
    .threeCta { flex-flow: wrap; }
    .ctaBlock { width: 100%; padding: 0 0 30px; }
    .localDealar {flex-flow: wrap;}
    .dealarImage { width: 100%; margin: 0 0 20px; }
    .localDealarContent { width: 100%; padding: 0; }

    .ctaBlock-image-block, .ctaBlock-content-block { width: 100%; }
    .ctaBlock-image-block {margin-bottom: 40px;}
}
@media(max-width: 767px) {
    .contentBlock-wrapper { padding: 0 20px; }
    .titleBar h1 { font-size: 38px; letter-spacing: -1px; }
    .titleBar h3 { font-size: 20px; }
    .ctaBlock .title { font-size: 38px; }
    .ctaBlock .subtitle { font-size: 26px; }
    .ctaBlock ul li { font-size: 16px; margin: 0 0 10px; padding-left: 20px; }
    .ctaBlock ul li:before { top: 6px; }
    .contentBlock h2 { font-size: 26px; letter-spacing: -0.5px; }
    .contentBlock p {font-size: 16px;}
    .contentBlock {padding: 40px 0;}
    .ctaBlock p { font-size: 16px; }
    .vehicleWeight h2 { font-size: 26px; letter-spacing: -0.5px; }
    .vehicleWeight .form {flex-flow: wrap;}
    .vehicleWeight .textField { height: 50px; margin: 0 0 10px; }
    .vehicleWeight .goBtn { margin-left: 0; height: 50px; font-size: 23px; width: 130px; padding: 10px 10px; margin: 0 auto; min-width: inherit; }
    .vehicleWeightText {font-size: 16px; padding: 30px 0 0; }
    .contentBlock {padding: 30px 0;}
    .localDealarContent h2 { font-size: 26px; letter-spacing: -0.5px; margin: 0 0 10px; }
    .localDealarContent p { font-size: 16px; margin: 0 0 20px; }
    .localDealarContent .outlineBtn {font-size: 14px; padding: 10px 40px;}
    .reduce-top { padding-top: 0; }

    .single-ctaBlock { margin: 30px 0 0; }
    .single-ctaBlock h3 { font-size: 20px; letter-spacing: -0.5px;}
    .single-ctaBlock h4 { margin: 0 0 20px; font-size: 18px; }
}
