/**
 *
 * Custom CSS
 *
 */

 /* ____________________________________________________ */

/* General */
#primary {
    width: 100%;
}
.w-auto {
    width: auto !important;
}

/* Text & Fonts */
.text-blue {
    color: #1b3d80 !important;
}
a.text-blue:hover {
    color: #404040 !important;
}
.text-light-blue {
    color: #3a60c3 !important;
}
.text-gray {
    color: #404040 !important;
}
.text-red {
    color: #d2222a !important;
}
.font-gotham-book {
    font-family: 'Gotham-Book', sans-serif;
    font-weight: normal;
}
.font-gotham-light {
    font-family: 'Gotham-Light', sans-serif;
    font-weight: 300;
}
.font-gotham-medium {
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 700;
}
.font-gotham-black {
    font-family: 'Gotham-Black', sans-serif;
    font-weight: 700;
}
.font-gotham-thin {
    font-family: 'Gotham-Thin', sans-serif;
    font-weight: 100;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.75rem
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem'
}
.lead {
    font-size: 125%;
    font-weight: inherit;
}
b, strong {
    font-family: 'Gotham-Black', sans-serif;
}

/* Misc */
.btn-blue,
.nav-previous a,
.nav-next a {
    color: #fff !important;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #1b3d80;
    width: auto;
    background-color: #1b3d80;
    transition: all 300ms ease-in-out;
}
.btn-blue:hover,
.btn-blue:focus,
.nav-previous a:hover,
.nav-next a:hover,
.nav-previous a:focus,
.nav-next a:focus {
    color: #1b3d80 !important;
    text-decoration: none;
    background-color: #fff;
}
.btn-white {
    color: #1b3d80;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #fff;
    width: auto;
    background-color: #fff;
    transition: all 300ms ease-in-out;
}
.btn-white:hover,
.btn-white:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1b3d80;
}
.btn-gray {
    color: #fff;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #404040;
    width: auto;
    background-color: #404040;
    transition: all 300ms ease-in-out;
}
.btn-gray:hover,
.btn-gray:focus {
    color: #404040;
    text-decoration: none;
    background-color: #fff;
}
.btn-red {
    color: #fff;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #d2222a;
    width: auto;
    background-color: #d2222a;
    transition: all 300ms ease-in-out;
}
.btn-red:hover,
.btn-red:focus {
    color: #d2222a;
    text-decoration: none;
    background-color: #fff;
}
.btn-clear--white {
    color: #fff;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #fff;
    width: auto;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}
.btn-clear--white:hover,
.btn-clear--white:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1b3d80;
}
.btn-clear--blue {
    color: #1b3d80;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #1b3d80;
    width: auto;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}
.btn-clear--blue:hover,
.btn-clear--blue:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1b3d80;
}
.btn-clear--gray {
    color: #404040;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #404040;
    width: auto;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}
.btn-clear--gray:hover,
.btn-clear--gray:focus {
    color: #fff;
    text-decoration: none;
    background-color: #404040;
}
.btn-clear--red {
    color: #d2222a;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 600;
    padding: 15px 25px;
    border: 2px solid #d2222a;
    width: auto;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}
.btn-clear--red:hover,
.btn-clear--red:focus {
    color: #fff;
    text-decoration: none;
    background-color: #d2222a;
}

/* Header */


/* Nav */
.main-navigation {
    height: 70px;
}

/* Body */


/* Pages */


    /* Home */
    .hero-slider-wrapper {
        padding-top: 5%;
        padding-bottom: 15%;
        height: 85vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .specialty {
        padding-top: 5%;
        padding-bottom: 5%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
        .specialty-content {
            background-color: rgba(0,0,0,.4);
        }
        .specialty-btns {
            margin-left: .5rem;
            margin-right: .5rem;
        }
    .videos {
        padding-top: 5%;
        padding-bottom: 5%;
    }
        .videos-play {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -75%);
        }
        .videos-play-button {
            font-size: 1.5rem;
            transition: all 300ms ease-in-out;
        }
        .videos-play-button:hover {
            color: rgba(255,255,255,.8) !important;
        }
    .reviews {
        padding-top: 5%;
        padding-bottom: 5%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
        .reviews-box {
            position: relative;
            padding: 25px;
            background-color: rgba(255,255,255,.8);
        }
        .review-date {
            color: #999;
            top: 25px;
            right: 25px;
            position: absolute;
        }
    .categories {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #fff;
    }
        .categories-link:hover .categories-overlay {
            opacity: 1;
        }
        .categories-link:hover .categories-box-img {
            opacity: .7;
        }
        .categories-box-img {
            opacity: 1;
            transition: all 300ms ease-in-out;
        }
        .categories-overlay {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            z-index: 1;
            transition: all 300ms ease-in-out;
        }
    .cta {
        padding-top: 5%;
        padding-bottom: 5%;
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
        .cta-inner {
            background-color: rgba(255,255,255,.8);
        }
    .general {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #fff;
    }
        .general-img {
            flex-shrink: .5;
        }


/* Blog */
.jumbotron {
    border-radius: 0;
    background-color: #1b3d80 !important;
}
.jumbotron-heading {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Gotham-Black', sans-serif;
    font-weight: 700;
}
/* Sidebar */


/* Forms */

/* Slider */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
    padding: 15px;
    bottom: 0;
    height: auto;
    background-color: rgba(100,100,100,.7);
}
.slick-dots li button {
    background-color: #fff;
    border-radius: 100%;
}
.slick-dots li.slick-active button::before {
    opacity: 1;
    color: rgb(100,100,100);
}
.slick-dots li button::before {
    font-size: 20px;
    top: 1px;
    color: #fff;
    opacity: 1;
}


/* Footer */
.footer-affilitions {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fff;
}
.footer-numbers h3 {
    color: inherit;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-numbers h3 span {
    color: #aeaeae;
    font-family: 'Gotham-Medium', sans-serif;
    font-weight: 500;
}
.footer-numbers::after {
    content: "";
    height: 2px;
    background-color: #aeaeae;
    background-size: cover;
    background-position: bottom;
    bottom: -15px;
    left: 50%;
    width: 80%;
    position: absolute;
    transform: translateX(-50%);
}
.footer-numbers {
    margin-bottom: 50px;
    position: relative;
    justify-content: space-evenly;
}

/* Plugin Override */
.main-back-to-top {
    color: #fff !important;
    background-color: #1b3d80 !important;
    border: 2px solid #1b3d80;
    transition: all 300ms ease-in-out;
}

.main-back-to-top:hover {
    color: #1b3d80 !important;
    background-color: #fff !important;
    border: 2px solid #1b3d80;
    text-decoration: none;
}

/* Media */
@media (min-width: 576px) {
    .w-sm-auto {
        width: auto !important;
    }
    .specialty-heading {
        background-color: transparent;
    }
}
@media (min-width: 768px) {
    .nav-search {
        position: absolute !important;
        top: 50% !important;
        right: 0 !important;
        transform: translateY(-50%) !important;
    }
    .w-md-auto {
        width: auto !important;
    }
    .w-md-25 {
        width: 25% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .hero-title {
        font-size: 5rem;
    }
    .hero-slider-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
    .specialty-content {
        width: 60% !important;
    }
    .specialty-btns {
        margin-left: 0;
        margin-right: .5rem;
    }
    .videos-box {
        width: 49%;
    }
    .reviews,
    .cta {
        padding-top: 30%;
    }
    .footer-numbers {
        margin-left: 8% !important;
        margin-right: 8% !important;
    }
}
